<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add name="gghypt.net_mirrorConnectionString1" connectionString="Data Source=192.168.0.129;Initial Catalog=gghypt.net_mirror;User ID=sa;Password=lu.0123" providerName="System.Data.SqlClient" />
        <add name="gghypt.net_mirrorConnectionString" connectionString="Data Source=192.168.0.129;Initial Catalog=gghypt.net_mirror;User ID=sa;Password=lu.0123" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
		<customErrors mode="RemoteOnly" defaultRedirect="myErrorsPage.html" />
		<httpRuntime requestValidationMode="2.0" />
    </system.web>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".shtml" mimeType="text/html" />
            <mimeMap fileExtension=".shtm" mimeType="text/html" />
        </staticContent>
    </system.webServer>
</configuration>
