<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
		<customErrors mode="RemoteOnly" defaultRedirect="myErrorsPage.html" />
		<httpRuntime requestValidationMode="2.0" />
    </system.web>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".shtml" mimeType="text/html" />
            <mimeMap fileExtension=".shtm" mimeType="text/html" />
        </staticContent>
    </system.webServer>
</configuration>
